* { 
    box-sizing: border-box;
}
body{
    font-family: Verdena,Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 15px;
    padding:8px;
}
/* state */
.container{
    background-image: url(background1.jpg);
    background-color: #f5f5f6;
    padding: 100px 5px 100px 5px; 
    border: 1px solid rgb(242, 242, 246);
    border-radius:2px;
}
.main_heading{
    text-align: center;
}

input[type="submit"]{
    background-color: rgb(45, 172, 140);
    color: black;
}
input[type="reset"]{
    background-color: rgb(39, 177, 113);
    color: black;
}
